# --- 忽略所有 template 相关的工程临时文件 ---
template.uv*
template.ew*
*.uvguix.Shilo    # 专门忽略您个人账户产生的 Keil 界面布局文件

# --- 忽略 IAR 工程文件---
*.ewp
*.eww
*.ewd

# --- 忽略其他编译器/工具产生的目录 ---
.ci/
.settings/
.project
.cproject
__pycache__/      # 忽略 SCons 产生的 Python 缓存 
documents/        # 如果不需要上传文档，可以忽略
figures/          # 忽略 BSP 自带的图表说明
rtthread.bin      # 忽略编译出来的二进制文件
# --- RT-Thread 核心配置（必须保留，不要忽略） ---
!/.config

# --- 自动生成的工程文件（建议忽略，由 scons 重新生成） ---
*.uvprojx
*.uvoptx
project.uvprojx
project.uvoptx
template.uvprojx
template.uvoptx
*.uvguix.*

# --- 自动生成的头文件 ---
rtconfig.h

# --- 编译中间产物 ---
build/
*.o
*.obj
*.d
*.dep
*.map
*.elf
*.bin
*.hex

# --- 其他环境冗余 ---
.vscode/
DebugConfig/
JLinkLog.txt
JLinkSettings.ini
.DS_Store