# --- RT-Thread 核心配置（必须保留，不要忽略） ---
!/.config

# --- 自动生成的工程文件（建议忽略，由 scons 重新生成） ---
*.uvprojx
*.uvoptx
project.uvprojx
project.uvoptx
template.uvprojx
template.uvoptx
*.uvguix.*

# --- 自动生成的头文件 ---
rtconfig.h

# --- 编译中间产物 ---
build/
*.o
*.obj
*.d
*.dep
*.map
*.elf
*.bin
*.hex

# --- 其他环境冗余 ---
.vscode/
DebugConfig/
JLinkLog.txt
JLinkSettings.ini
.DS_Store